body {
  background-image: url(./circuitboard.jpg);
}

nav {
  background-color: #086814;
  color: #bb935e;
}

.navbar-header {
  text-align: center;
}

.card {
  margin-top: 6rem;
  background-color: #faf9fa;
}

.btn-light {
  margin-top: 1rem;
  color: #086814;
}
